[submodule "MonoGame"]
	path = MonoGame
	url = https://github.com/Andy9FromSpace/MonoGame.git
	branch = improvements
[submodule "tools/ouya"]
	path = tools/ouya
	url = https://github.com/slygamer/ouya-csharp.git
[submodule "src/external lib/ChipmunkSharp"]
	path = src/external lib/ChipmunkSharp
	url = https://github.com/netonjm/ChipmunkSharp.git